@import 'tailwindcss';

/* variables globales y estilos de base (body, container...)
 */
@layer base {
    @import './base/_variables.css';
    @import './base/_reset.css';
    @import './base/_base.css'; 
}

/*  componentes (.btn, .site-header, .hero-split...)
 */
@layer components {
    @import './components_landing/_buttons.css';
    @import './components_landing/_header.css';
    @import './components_landing/_hero.css';
    @import './components_landing/_carousel.css';
    @import './components_landing/_services.css';
    @import './components_landing/_features.css';
    @import './components_landing/_footer.css';
    @import './auth_css/_auth-forms.css';
    @import './auth_css/_auth-alert.css';
}


